src/main/resources/spec/backend.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:test="http://prasenjit.net/test/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="test"
                  targetNamespace="http://prasenjit.net/test/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://prasenjit.net/test/">
            <xsd:element name="createPerson" type="test:Person"/>
            <xsd:element name="createPersonResponse" type="test:Person">
            </xsd:element>

            <xsd:complexType name="Person">
                <xsd:sequence>
                    <xsd:element name="name" type="test:Name"/>
                    <xsd:element name="address" type="test:Address"/>
                </xsd:sequence>
                <xsd:attribute name="id" type="xsd:string"/>
            </xsd:complexType>

            <xsd:complexType name="Address">
                <xsd:sequence>
                    <xsd:element name="street" type="xsd:string"/>
                    <xsd:element name="apt" type="xsd:string"></xsd:element>
                    <xsd:element name="city" type="xsd:string"></xsd:element>
                    <xsd:element name="state" type="xsd:string"></xsd:element>
                    <xsd:element name="zip" type="xsd:string"></xsd:element>
                </xsd:sequence>
                <xsd:attribute name="type" type="xsd:string"></xsd:attribute>
            </xsd:complexType>

            <xsd:complexType name="Name">
                <xsd:sequence>
                    <xsd:element name="firstName" type="xsd:string"></xsd:element>
                    <xsd:element name="lastName" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="createPersonRequest">
        <wsdl:part element="test:createPerson" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="createPersonResponse">
        <wsdl:part element="test:createPersonResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="test">
        <wsdl:operation name="createPerson">
            <wsdl:input message="test:createPersonRequest"/>
            <wsdl:output message="test:createPersonResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="testSOAP" type="test:test">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createPerson">
            <soap:operation soapAction="http://prasenjit.net/test/createPerson"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="test">
        <wsdl:port binding="test:testSOAP" name="testSOAP">
            <soap:address location="http://www.example.org/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
